/* Hamburger */
.hamburger{
    display: none;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background:none;
    outline: none;
    border: none;
    z-index: 100;
}
.hamburger .bar, .hamburger::after, .hamburger:before{
    width: 100%;
    height: 5px;
    background-color: var(--red);
    margin: 6px 0px;
    transition: 0.4s;
    content: '';
    display: block;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 7px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-8px, -7px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

.nav-mobile{
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 98;
    margin-top: 70px;
    min-height: 100vh;
    position: fixed;
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, var(--red) 0%, var(--white) 50%, var(--white) 100%);
    padding-top: 120px;
    transition: 0.4s;
}

.nav-mobile.is-active {
    left: 0;
}

.nav-mobile a{
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 20px;
    color: var(--red);
}
.mobile-theme{
    margin-right:14px;
    font-size: 30px;
    display: none;
}

@media only screen and (max-width: 991px){
    .hamburger{
        display: block;
    }
    .mobile-theme{
        display: block;
    }
}