
.login_register{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-bottom: 150px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.login_content{
    display: grid;
}
.login_img{
    display: flex;
    justify-content: center;
}
.login_img img{
    width: 320px;
    margin-top: 100px;
}
.login_forms{
    position: relative;
    height: 368px;
}
.login_registre, .login_create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px var(--black2);
    animation-duration: .4s;
    animation-name: animate-login;
}
@keyframes animate-login{
    0%{
        transform: scale(1,1);
    } 50%{
        transform: scale(1.1,1.1);
    } 100%{
        transform: scale(1,1);
    }
}
.login_icon{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--black);
    font-size: 2rem;
}
.login_title{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.login_box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: var(white);
    margin-top: 1rem;
    border-radius: .5rem;
}
.login_input{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 700;
    color: var(--red);
}
.login_forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-weight: 600;
    color: var(--red);
}
.login_button{
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    text-align: center;
    border: .5rem;
    transition: .3s;
}
.login_button:hover{
    background-color: var(--black);
    color: var(--white);
}
.login_social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_account, .login_signin, .login_signup{
    font-weight: 600;
    font-size: 0.8rem;
}
.login_signin, .login_signup{
    color: var(--red);
    cursor: pointer;
}


/* Login */

.block{
    display: block;
}
.none{
    display: none;
}


/* Responsive */

@media screen and (min-width: 576px) {
    .login_forms{
        width: 346px;
        justify-content: center;
    }
}
@media screen and (min-width: 1024px){
    .login_register{
        height: 100vh;
        margin-bottom: 10px;
        margin-top: 150px;
    }

    .login_title{
        font-weight: 800;
        font-size: 2rem
    }
    .login_content{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }
    .login_img{
        display: flex;
        width: 600px;
        height: 588px;
        box-shadow: 0 8px 20px var(--black2);
        border-radius: 1rem;
        padding-left: 1rem;
    }
    .login_img img{
        width: 600px;
        margin-top: 0;
    }
    .login_registre, .login_create{
        left: -11rem;
    }
    .login_registre{
        bottom: -2rem;
    }
    .login_create{
        bottom: -9.5rem;
        padding-bottom: 0;
    }
}