
/* Swiper Stylos */
.slider{
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, var(--white) 0%, var(--red) 50%, var(--red) 100%);
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 45px;
}
.slider_inicio{
    max-height: 500px;
    min-height: 500px;
    display: block;
    height: 100%;
    object-fit: cover;
    
}
.flechas-slider{
    color: var(--primaryprod);
    text-shadow: 0.1px 1px 10px var(--primaryprod);
}
/****************************** Bienvenidos ***************************************/

.title-page{
    position: relative;
    text-align: center;
    padding: 30px 0;
    height: 155px;
    width: 100%;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}
.title-page h2{
    font-weight: 700;
}
.title-page h2 i{
    color: var(--black);
}
.main_slider{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 55px;
}
.main_slider_content{
    
    margin-top: 130px;
    width: 80%;
}
.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
    color: var(--primaryprod);
    text-shadow: 0.1px 1px 10px var(--primaryprod);
}
.main_slider_content h1{
    font-weight: 400;
    line-height: 1;
    color: var(--primaryprod);
    text-shadow: 0.1px 1px 3px rgba(0, 0, 0, 0.7);
}



/***************************** 6.   Oferta del mes ***********************************/
.oferta_especial{
    width: 100%;
}
.oferta_especial_img{
    height: 540px;
}
.oferta_especial_img img{
    margin-top: 30px;
    filter: opacity(0.8);
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.644));
    height: 100%;
}
.oferta_especial_content{

    margin-top: 75px;
    height: 100%;
}
.section_title{
    display: inline-block;
    text-align: center;
}
.section_title h2{
    display: inline-block;
    color: var(--primaryprod);
    text-shadow: 0.1px 1px 4px rgba(0, 0, 0, 0.7);
}
.product-slider{
    position: relative;
    width: 210px;
    height: 300px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: var(--black2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black2);
    border-bottom:1px solid var(--black2);
}
.product-slider .card-slider{
    text-align: center;
    transition: 0.5s;
}
.oferta_especial_button{
    margin-top: 20px;
    width: 140px; 
}
.card-slider img{
    width: 100%;
    transition: all ease 0.3s;
}
.card-slider h3{
    color: var(--primaryprod);
}
.product-slider .card-slider:hover img{
    transform: scale(1.3);
}

/********************banner******************************++*/


.banner{
    width: 100%;
    margin-top: 35px;
}
.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 235px;
    border-radius: 15px;
    background-color: var(--black2);
    overflow: hidden;
    border-right: 1px solid var(--black2);
    border-bottom:1px solid var(--black2);

}
.banner_item img{
    position: absolute;
    object-fit: contain;
    width: 100%;
    opacity: 0.2;
    transition: all ease-in 0.3s;
}
.banner_item:hover img{
    transform: scale(1.3);

    opacity: 1;
}
.banner_category{
    height: 50px;
    background-color: var(--white);
    padding-left: 25px;
    padding-right: 25px;
    border: groove 1px black;
    box-shadow: 1px 1px 6px var(--black);
}
.banner_category a{
    display: block;
    color: var(--black);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    transition: all ease 0.3s;
}
.banner_category a:hover{
    color: var(--red);
}
.banner-title{
    margin-top: 50px;
    text-align: center;
}
.banner-title h2{
    color: var(--primaryprod);
    text-shadow: 0.1px 1px 4px rgb(0 0 0 / 70%);
}


@media only screen and (max-width: 1199px){

    .product-slider{
        margin-top: 15px;
        width: 200px;
        height: 270px;
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 991px){

    .main_slider_content h1{
        font-size: 3.5rem;
    }

    .flechas-slider{
        display: none;
    }

    .product-slider{
        margin-top: 15px;
        width: 140px;
        height: 150px;
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
    }
    
    .card-slider h3{
        font-size: 0.9rem;
    }
    .banner{

        margin-top: 5px;
    }
    .banner-title h2{
        display: none;
    }
    .banner_item{
        height: 115px;
        margin-top: 5px;
    }
    .slider_inicio{
        max-height: 429px;
        min-height: 429px;
    }

}

@media only screen and (max-width: 767px){

    
}
@media only screen and (max-width: 575px){
 
    
}

@media only screen and (max-width: 479px){
    .product-slider{
        margin-top: 15px;
        width: 90px;
        height: 120px;
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
    }
}

